<br>
<h4>Formulários</h4>
<h5>Template Driven</h5>
<p>Formulário orientado a tempalte.
  Form criado e configurado no HTML.
  Validações no Template HTML.
  Angular deduz um FormGroup a partir do HTML.
  Valores do form submetidos com ngSubmit.
</p>
<p>ngSubmit</p>
<p>ngModel: two-way data binding</p>
<p><a href="https://angular.io/api/forms">API Angular Forms</a></p>
<p>Validators template form: <a href="https://angular.io/api/forms/Validators">Angular Validators</a></p>

<h5>Reactive (Data Driven)</h5>
<p>Formulário orientado a dados.
  Form é criado programaticamente e é sincronizado com o DOM/HTML.
  Criado e configurado no Componente.
  Validações no Componente.
  Angular usa o FormGroup usado no Componente.
  Form já está no Componente e não precisa do ngSubmit.
</p>
<p><a href="https://angular.io/guide/form-validation">Validators</a></p>
<p>Combobox com objeto: <a href="https://angular.io/api/forms/NgSelectOption">NgSelectOption</a>
  e <a href="https://angular.io/api/forms/SelectControlValueAccessor">CompareWith</a></p>

