<!--bootstrap-->
<h3>{{title}}</h3>
<div class="card" style="width: 18rem;">
  <img src="http://placekitten.com/300/300" class="card-img-top" alt="50">
  <div class="card-body">
    <h5 class="card-title">Bootstrap</h5>
    <p class="card-text">Testes com Bootstrap.</p>
    <a href="#" class="btn btn-primary">Boa!</a>
  </div>
</div>

<!-- materialize div>
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
</div-->

<!--lodash-->
<p *ngFor="let item of list">{{item}}</p>

