<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="aluno.id" disabled value="" id="disabled" type="text" class="validate">
      <label for="disabled"></label>
    </div>
  </div>
  <div class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input [(ngModel)]="aluno.nome" id="first_name" type="text" class="validate"
        (input)="onInput()">
        <label for="first_name">Nome</label>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate"
        (input)="onInput()">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="aluno.email" id="email" type="email" class="validate"
        (input)="onInput()">
        <label for="email">Email</label>
      </div>
    </div>
  </div>
</div>
